
ABSOLUTE_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)/$(basename "${BASH_SOURCE[0]}")"
wsmdb_path=$(dirname "$ABSOLUTE_PATH")

function mongo-activate() 
{
    . $wsmdb_path/.mongo-dev-functions

    . $wsmdb_path/.mongo-tools

    . $wsmdb_path/.mongo-utils

    . $wsmdb_path/.mongo-evg-functions

    source $wsmdb_path/.profile
}

function mongo-activate-docker()
{
    docker build --tag giulietta18 - < $wsmdb_path/Dockerfile && \
    docker run -it --rm -v ~/.ssh:/root/.ssh \
    -v $wsmdb_path:/root/.config/workspace-mongo \
    -v ~/.ssh:/root/.ssh \
    giulietta18 
}
alias rungiulietta="mongo-activate-docker"


