function mongo-load-aliases()
{
    . $PWD/.mongo-config #must be first

    . $PWD/.mongo-setup

    . $PWD/.mongo-dev-functions

    . $PWD/.mongo-utils

    . $PWD/.mongo-evg-functions
}

function mongo-activate() 
{
    mongo-load-aliases
    source $PWD/.profile
}
