ABSOLUTE_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)/$(basename "${BASH_SOURCE[0]}")"
wsmdb_path=$(dirname "$ABSOLUTE_PATH")

function mongo-activate() 
{
    . $wsmdb_path/.mongo-config #must be first

    . $wsmdb_path/.mongo-setup

    . $wsmdb_path/.mongo-dev-functions

    . $wsmdb_path/.mongo-utils

    . $wsmdb_path/.mongo-evg-functions

    source $wsmdb_path/.profile
}
