services:
  dev-mongo:
    stdin_open: true
    tty: true
    command: /bin/bash
    image: dev-mongo:latest
    privileged: true 
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "27017:27017"
    volumes:
      - mongo:/root/mongo
      - vscode-server:/root/.vscode-server
      - zsh-history:/root/.zsh_history
      - ~/.workspace:/root/.workspace
      - .zshrc:/root/.zshrc
      - .zshenv:/root/.zshenv
      - ~/.gitignore:/root/.gitignore
      - ~/.gitconfig:/root/.gitconfig
      - ~/.evergreen.yml:/root/.evergreen.yml
      - ~/.zsh_history_mongo:/root/.zsh_history
      - ~/.ssh/id_rsa:/root/.ssh/id_rsa:ro
      - ~/.ssh/id_rsa.pub:/root/.ssh/id_rsa.pub:ro
      - ~/.ssh/known_hosts:/root/.ssh/known_hosts
volumes:
  mongo:
  vscode-server:
  zsh-history: